.muiltr-1f2kw6w-MuiContainer-root {
    margin-top: 100px;
}

.muirtl-2kezlg-MuiContainer-root {
    margin-top: 100px;
}

.box-2{
    background-color: rgba(179, 176, 176, 0.747);
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
}
